services:
  postgres:
    image: postgres:16-alpine
    container_name: vsa-postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=yourStrong(!)Password
      - POSTGRES_DB=VerticalSliceDb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  postgres-data:
